footer {
    width: 100%;
    height: 178px;
    display: block;
    clear: both;
    position: relative;
}

.footer_content {
    height: 100%;
}

.footerLogo {
    background: url( "../images/footerLogo.png" ) no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    top: 35px;
    left: 45px;
    height: 79px;
    width: 161px;
    text-indent: -9999px;
}

.footer_nav {
    padding: 42px 0 0 357px;
}

.footer_nav ul {
    float: left;
    width: 180px;
    margin: 0 20px 0 0;
    padding: 0 0 0 0px;
    list-style: none;
}

    .footer_nav ul li {
        line-height: 21.21px;   
    }

        .footer_nav ul li a {
            text-decoration: none;
            color: #1da6db;
        }

        .footer_nav ul li a:hover {
            text-decoration: underline;            
        }

.copyright {
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
    font-size: 11.5px;
    color: #a5a5a5;
}

    footer .copyright {
        float: right;
        margin-top: 8px;
    }



