/*FORM STYLES*/

/* Contact Form*/
.form_container form {
    font-family:"Trebuchet MS";
    width:400px;
}

.form_container header{
    background: url(../images/sunares_footer.png) no-repeat top right;
    height:50px;
}

.form_container label{
    margin-left:10px;
    float:left;
}

.form_container .button{
    float:left;    
}

input[type="text"], textarea{
    width:400px;
    margin-bottom:10px;
    padding:8px;
    background:#fff;
    color:#cccac6;
    border:none;
    border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    float:left;
    -moz-box-shadow:inset 0 1px 3px #cccac6;
    -webkit-box-shadow:inset 0 1px 3px #cccac6;
    box-shadow:inset 0 1px 3px #cccac6;
}

input[type="text"]:focus, textarea:focus{
    color:#636262;
}

textarea{
    resize:none;
}

