.header-container{
    background: url(../images/header_bg.png) repeat-x;
    position: relative;
    z-index: 10;
}
header.page-header{
    width:961px;
    min-height:106px;
    margin: 0 auto;
    position: relative;
}
header.page-header .logo a{
    float:left;
    background:url(../images/sunares-logo.png) no-repeat;
    height:92px;
    width:325px;
    margin-left:20px;
}
header.page-header .utilities{
    width:616px;
    float:left;
    height:40px;
    padding-top:10px;
    font-family: "Trebuchet MS";
    color:#fcfbfb;
    font-size: 11.5px;
}
header.page-header .utilities a{
    color:#fcfbfb;
    text-decoration:none;
    font-size:11.5px;
    display: block;
    text-indent: -9999px;
}
header.page-header .utilities a.inactive{
    color:#cde3ec;
}
header.page-header .utilities .search{
    float:right;
}
header.page-header .utilities .language{
    float:right;
    text-align:right;
    padding-right:20px;
    font-size: 11.5px;;
    width: 100px;
    font-size: 13px;
}

header.page-header .utilities .language a {
    display: inline;
}

header.page-header .utilities ul{
    float:right;
    padding:4px 30px 0 32px;
    list-style-type:none;
    margin:0 auto;
}
header.page-header .utilities ul li{
    display:inline;
    float:left;
    width:34px;
    height:10px;
    background: url(../images/text-size-sprite.png) no-repeat;
}
header.page-header .utilities ul li.smaller{
    margin-right:2px;
    background-position:0 -10px;
}
header.page-header .utilities ul li.smaller.active{
    background-position:0 0;
}
header.page-header .utilities ul li.bigger{
    background-position: -34px -10px;
}
header.page-header .utilities ul li.bigger.active{
    background-position: -34px 0;
}

header.page-header .navigation_container{
    background: #0089c5;
    -moz-box-shadow:inset 0 4px 5px #0082bb, inset -4px 0 2px  #279bce;
    -webkit-box-shadow:inset 0 4px 5px #0082bb, inset  -4px 0 2px #279bce;
    box-shadow:inset 0 4px 5px #0082bb, inset -4px 0 2px #279bce;

    border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
    float:right;
    height:29px;
    width:600px;
    overflow:hidden;
}
header.page-header .navigation_container ul{
    list-style-type:none;
    margin:0 auto;
    height:29px;
    line-height:32px;
    padding: 0px 7px 0 7px;
    font-size: 13px;
}
header.page-header .navigation_container ul li{
    font-family:TelegraficoRegular;
    font-size: 13px;
    display:inline;
    margin-left:10px;
}

header.page-header .navigation_container ul li.first{
    margin-left:0;
}

header.page-header .navigation_container ul li a{
    text-decoration:none;
    color:#cae4f0;
    padding:7px 4px 7px 4px;
}

header.page-header .navigation_container ul li a:hover{
    color:#fcfbfb;
}

header.page-header .navigation_container ul li a.current{
    font-weight:bold;
    color:#019ad5;
    padding:6px 8px 7px 8px;
    border: solid 1px #9daaaf;
    border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
    background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #dddedf 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(100%,#dddedf));
        background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 50%,#dddedf 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#ffffff 50%,#dddedf 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 50%,#dddedf 100%);
        background: linear-gradient(top, #ffffff 0%,#ffffff 50%,#dddedf 100%);
}

header.page-header .price_index a{
    text-decoration:none;
    cursor:pointer;
    float: right;
    height:22px;
    width:387px;
    border: 1px solid #adadad;
    border-radius: 0 0 0 8px;
        -webkit-border-radius: 0 0 0 8px;
        -moz-border-radius: 0 0 0 8px;
    margin-top:3px;
    background: #fcfafa; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #e0e3e4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e3e4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%,#e0e3e4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%,#e0e3e4 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%,#e0e3e4 100%); /* IE10+ */
        background: linear-gradient(top, #ffffff 0%,#e0e3e4 100%); /* W3C */
}

header.page-header .price_index a:hover{
    background: #fefefe; /* Old browsers */
        /*background: -moz-linear-gradient(top, #fefefe 0%, #fefefe 48%, #f1f1f1 50%, #e1e1e1 51%, #f4f4f4 100%); *//* FF3.6+ */
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(48%,#fefefe), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f4f4f4)); *//* Chrome,Safari4+ */
        /*background: -webkit-linear-gradient(top, #fefefe 0%,#fefefe 48%,#f1f1f1 50%,#e1e1e1 51%,#f4f4f4 100%); *//* Chrome10+,Safari5.1+ */
        /*background: -o-linear-gradient(top, #fefefe 0%,#fefefe 48%,#f1f1f1 50%,#e1e1e1 51%,#f4f4f4 100%); *//* Opera11.10+ */
        /*background: -ms-linear-gradient(top, #fefefe 0%,#fefefe 48%,#f1f1f1 50%,#e1e1e1 51%,#f4f4f4 100%); *//* IE10+ */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4',GradientType=0 ); *//* IE6-9 */
        /*background: linear-gradient(top, #fefefe 0%,#fefefe 48%,#f1f1f1 50%,#e1e1e1 51%,#f4f4f4 100%); *//* W3C */
}

header.page-header .price_index a ul{
    list-style-type:none;
    margin:0;
    padding:5px 5px 5px 15px;
    font-family: "Trebuchet MS";
    font-weight:bold;
    font-size:12px;
}

header.page-header .price_index ul li{
    display:inline;
    color:#000;
}

header.page-header .price_index ul li.value{
    background:url(../images/value-arrow.png) no-repeat 6px 3px;
    padding:0 14px 0 20px;
}

header.page-header .utilities input.searchInput{
    background:#269fd4 url(../images/loup.png) 5px 5px no-repeat;
    float:left;
    border:none;
    height:22px;
    width:170px;
    padding: 0;
    margin: 0;
    padding-left:20px;
    -moz-box-shadow:inset 0 0 3px #0082bb, inset -2px -2px 1px  #80c7e5;
    -webkit-box-shadow:inset 0 0 3px #0082bb, inset  -2px -2px 1px #80c7e5;
    box-shadow:inset 0 0 3px #0082bb, inset -2px -2px 1px #80c7e5;

    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    font-family: "Trebuchet MS";
    color:#a8d9ee;
    font-size:12px;
}

header.page-header .utilities input.searchButton{
    margin:1px 0 0 -44px;
    float:left;
    background:url(../images/searchSubmit.png) no-repeat scroll top left transparent;
    border:none;
    text-indent: -9999px;
    line-height: 0;
    height:20px;
    width:40px;
}

header.page-header .utilities input.searchButton:hover{
    background:url(../images/searchSubmitHover.png) no-repeat scroll top left transparent;    
}