.hero {
    height: 333px;    
    top: -56px;
    position: relative;
}

    .hero hgroup {
        display: block;
        position: absolute;
        left: 36px;
        width: 484px;
        top: 65px;
    }

        .hero hgroup h1, .hero hgroup h2 { color: #fff; text-shadow: 1px 2px 5px #111;}

        .hero hgroup h1 {
            font-family: 'Museo300';
            font-size: 29.5px;
            line-height: 29.21px;
        }
        .hero hgroup h2 {
            font-family: 'Museo700';
            font-size: 17.14px;
            line-height: 25.27px;
            margin-top: 3px;
        }

.heroSlide {
    border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
    float: left;
    height: 380px;
    left:0;
    position:absolute;
    top: 0;
    width: 961px;
}

.heroIcons {
    background: url('../images/heroIcons.png') no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    bottom: -16px;
    left: 39px;
    height: 35px;
    width: 265px;
    z-index: 10;
}

.prev, .next {
    display: block;
    height: 35px;
    width: 29px;
    position: absolute;
    background: url('../images/heroSliderBtnSprite.png') no-repeat scroll 0 0 transparent;
    top: 174px;
    cursor: pointer;
    z-index: 1;
}

    .hero .prev {
        background-position: 0 0;
        left: 0;
    }

        .hero .prev:hover { background-position: 0 -35px; }

    .hero .next {
        right: 0;
        background-position: -29px 0;
    }

        .hero .next:hover {
            right: 0;
            background-position: -29px -35px;
        }

.hero .callToAction {
    position: absolute;
    bottom: 23px;
    right: 22px;
}

.heroNav {
    bottom: -26px;
    color: #000;
    display: block;
    cursor: default;
    left: 0;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 961px;
    z-index: 2;
}

    .heroNav li {
        display: inline-block;
        margin-right: 4px;
    }

        .heroNav a {
            background: url('../images/heroNavSprite.png') no-repeat scroll left top transparent;
            display: block;
            height: 9px;
            text-indent: -9999px;
            width: 9px;
        }

        .heroNav a.current { background-position: -10px 0; }