.ie7 .maps{
    margin-bottom:7px;
}

.ie7 header.page-header .utilities input.searchInput, .ie8 header.page-header .utilities input.searchInput{
    background: url(../images/ie/searchBg.png) no-repeat top left;
}
ie7 header.page-header .utilities input.searchButton{

}

.ie7 header.page-header .language + ul li a {
    display: block;
    height: 10px;
    width: 34px;
}

.ie7 header.page-header .utilities ul, .ie8 header.page-header .utilities ul{
    float:right;
}

.ie7 header.page-header .navigation_container, .ie8 header.page-header .navigation_container{
    background:none;
}

.ie7 header.page-header .navigation_container ul, .ie8 header.page-header .navigation_container ul{
    background: url(../images/ie/mainNavBg.png) no-repeat transparent top left;
    padding-top:2px;
    width:575px;
}

.ie7 header.page-header .navigation_container ul li, .ie8 header.page-header .navigation_container ul li{
    margin-left:5px;
}

.ie8 header.page-header .navigation_container ul{
    padding-top:1px;
}

.ie7 header.page-header ul, .ie8 header.page-header ul{
    float:left;
}

.ie7 header.page-header .navigation_container span.navRight, .ie8 header.page-header .navigation_container span.navRight{
    background: url(../images/ie/mainNavBgRight.png) no-repeat right top transparent;
    height: 29px;
    width:10px;
    float:left;
}

.ie7 header.page-header .navigation_container ul li a.current, .ie8 header.page-header .navigation_container ul li a.current{
    background: url(../images/ie/navigationCurrentBgRight.png) no-repeat top right transparent;
    border:none;
    height:23px;
    padding:0;
}

.ie8 header.page-header .navigation_container ul li a.current{
    line-height:23px;
    height:23px;
    padding:9px 0 8px 0;
}

.ie7 header.page-header .navigation_container ul li a.current span, .ie8 header.page-header .navigation_container ul li a.current span{
    background: url(../images/ie/navigationCurrentBg.png) no-repeat scroll left top transparent;
    padding:9px 8px 7px 16px;
    margin-right:7px;
    line-height:23px;
    height:23px;
}

.ie7 header.page-header .price_index a, .ie8 header.page-header .price_index a{
    background:url(../images/ie/pricesBg.png) no-repeat top left transparent;
    border:none;
    filter:none;
    height:24px;
}

.ie7 header.page-header .price_index a:hover, .ie8 header.page-header .price_index a:hover{
    /*background:url(../images/ie/pricesBgRO.png) no-repeat top left transparent;*/
    background:url(../images/ie/pricesBgROWhite.png) no-repeat top left transparent;
}

.ie7 .box .archive .archive-item, .ie8 .box .archive .archive-item{
    text-align:left;
}

.ie7 .box .archive .archive-item img, .ie8 .box .archive .archive-item img{
    margin-left:7px;
}

.ie7 span.date, .ie8 span.date{
    background: url(../images/ie/dateBgRight.png) no-repeat top right transparent;
    padding:0;
}

.ie8 span.date{
    padding:1px 0 2px 0;
}

.ie7 span.date > span{
    margin-right:5px;
}

.ie8 span.date > span{
    margin-right:8px;
}

.ie7 span.date > span, .ie8 span.date > span{
    padding:1px 0 2px 8px;
    background: url(../images/ie/dateBg.png) no-repeat top left transparent;
}

.ie7 .box .blog-item span.date, .ie8 .box .blog-item span.date{
    margin-left:5px;
}

.ie7 .tags li span, .ie8 .tags li span{
    background: url(../images/ie/tagBg.png) no-repeat top left transparent;
    padding:2px 3px 1px 10px;
    height:17px;
    line-height:17px;
    margin-right:5px;
}

 .ie8 .tags li span{
     height:17px;
     line-height:17px;
 }

.ie7 .tags li, .ie8 .tags li{
    padding: 0;
    background: url(../images/ie/tagBgRight.png) no-repeat top right transparent;
    height:17px;
    line-height:17px;
}

.ie8 .tags li{
    padding:2px 3px 1px 0px;
}

.ie7 .ieIntroImageMask {
    background: url(../images/ie/introImageRadiusMask.png) no-repeat top right transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 719px;
}

.ie7 .intro-image img, .ie8 .intro-image img {
    width: 719px;
}

.ie7 .intro-image, .ie8 .intro-image{
    position: relative;
    top: -35px;
    left: -36px;
    height: 186px;
}

/* Hero Nav */

.ie7 .heroNav {
    left: 50%;
    margin: 0 auto;
    overflow: hidden;
    text-align:center;
    width: 100px;
}

    .ie7 .heroNav li {
        float: left;
        display: block;
        margin-right: 10px;
    }

/* Secondary Nav */

.ie7 .subNav ul li, .ie8 .subNav ul li {
    display: inline;
}

.ie7 form input[type="text"], .ie8 form input[type="text"]{
    background: url(../images/ie/inputText.png) no-repeat top left transparent;
}

.ie7 form textarea, .ie8 form textarea{
    background: url(../images/ie/inputTextarea.png) no-repeat top left transparent;
    height:114px;
}

.ie7 .button, .ie8 .button{
    background: url(../images/ie/submitButton.png) no-repeat top left transparent;
    text-align:center;
    width:125px;
    padding:0;
    border:none;
}

.ie8 .button{
    padding: 3px 0 3px 0;
}

.ie7 .button:hover, .ie8 .button:hover{
    filter:none;
    background: url(../images/ie/submitButtonHover.png) no-repeat scroll top left transparent;
}

.ie7 .button.largeBtn, .ie8 .button.largeBtn {
    background: url(../images/ie/submitButtonLarge.png) no-repeat scroll top left transparent;
    width: 225px;
}

.ie7 .button.largeBtn:hover, .ie8 .button.largeBtn:hover {
    background: url(../images/ie/submitButtonLargeHover.png) no-repeat scroll top left transparent;
}

/* Accordion */
.ie7 .accordionContainer h2,
.ie8 .accordionContainer h2 {
    background: url( ../images/ie/accordionHeader.png ) no-repeat scroll 0 0 transparent;
    border: none;
    border-bottom: 1px solid #0075b0;
    height: 35px;
    line-height: 35px;
}

.ie7 .accordionContainer .accordionContent .module.last,
.ie8 .accordionContainer .accordionContent .module.last {
    border-bottom: 1px solid #eee;
}



/* GradBox Module styles*/

/* Small box*/
.ie7 .box.gradBox, .ie8 .box.gradBox {
    background: url(../images/ie/singleGradBoxBody.png) no-repeat scroll 0 0 transparent;
    border: none;
    padding: 18px 19px;
    position: relative;
}

.ie7 .gradBoxBottom, .ie8 .gradBoxBottom {
    background: url(../images/ie/singleGradBoxBtm.png) no-repeat scroll left bottom transparent;
    display: block;
    height: 15px;
    width: 197px;
    padding: 0 19px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ie7 .tabbed-content, .ie8 .tabbed-content{
    margin-bottom:7px;
    padding:0;
}

.ie7 .details ul.tags{
    margin-top:-17px;
}

/* Double width box*/

.ie7 .map.module.gradBox, .ie8 .map.module.gradBox {
    background: url(../images/ie/doubleGradBoxBody.png) no-repeat scroll 0 0 transparent;
}

.ie7 .content .features .box.wide, .ie8 .content .features .box.wide {
    width: 439px;
}

.ie7 .box.gradBox.wide, .ie8 .box.gradBox.wide {
    background: url(../images/ie/doubleGradBoxBody.png) no-repeat scroll 0 0 transparent;
    border: none;
    padding:18px 19px;
    position: relative;
}

.ie7 .doubleGradBottom, .ie8 .doubleGradBottom {
    background: url(../images/ie/doubleGradBoxBtm.png) no-repeat scroll 0 0 transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 13px;
    width: 477px;
}

/* Three quarter box */
.ie7 .module.gradBox.threeQuarter, .ie8 .module.gradBox.threeQuarter {
    background: url(../images/ie/threeQuarterGradBoxBody.png) no-repeat scroll 0 0 transparent;
    border: none;
    position: relative;
}

.ie7 .threeQuarterBottom, .ie8 .threeQuarterBottom {
    background: url(../images/ie/threeQuarterGradBoxBtm.png) no-repeat scroll 0 0 transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 13px;
    width: 719px;
}

/*Full width box*/
.ie7 footer.gradBox, .ie7 .gradBox.module, .ie7 .tabbed-content.gradBox,
.ie8 footer.gradBox, .ie8 .gradBox.module, .ie8 .tabbed-content.gradBox {
    background: url(../images/ie/fullGradBoxBody.png) no-repeat scroll left top transparent;
    border: none;
}

.ie7 .tabbed-content.gradBox.fixedWidth, .ie8 .tabbed-content.gradBox.fixedWidth {
    width: 961px;   
}

.ie7 .gradBox.module, .ie8 .gradBox.module {
    padding: 35px 36px;
}

.ie7 .tabbed-content.gradBox.module, .ie8 .tabbed-content.gradBox.module {
    padding:0;
}

.ie7 footer, .ie8 footer  {
    position: relative;
}

.ie7 .fullGradBoxBottom, .ie8 .fullGradBoxBottom {
    background: url(../images/ie/fullGradBoxBtm.png) no-repeat scroll left top transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 961px;
    height: 13px;
}

/* Custom Rounded Corner masks*/

.ie7 .ieIntroImageMask, .ie8 .ieIntroImageMask {
    background: url(../images/ie/introImageRadiusMask.png) no-repeat top right transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 719px;
}

.ie7 .ieHeroMask, .ie8 .ieHeroMask {
    background: url(../images/ie/heroRadiusMask.png) no-repeat 0 0 transparent;
    display: block;
    position: absolute;
    bottom: -48px;
    left: 0;
    height: 15px;
    width: 961px;
    z-index: 5;
}

.ie7 .ieMapMask, .ie8 .ieMapMask {
    background: url(../images/ie/mapRadiusMask.png) no-repeat top right transparent;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 477px;
}

/* rollover fixes */

.ie7 .box.gradBox.rollover {
    z-index: 0;
}

.ie7 .rolloverPopup.gradBox, .ie8 .rolloverPopup.gradBox {
    visibility: hidden;
    border: none;
    background: url(../images/ie/doubleGradBoxPopup.png) no-repeat top right transparent;
    width: 469px;
    height: 389px;
    left: -4px;
    z-index: 10;
}

.ie7 .tableModule .rolloverPopup.gradBox, .ie8 .tableModule .rolloverPopup.gradBox {
    background: url(../images/ie/threeQuarterGradBoxPopup.png) no-repeat top right transparent;
    width: 734px;
    left: auto;
    right: -4px;
}

.ie7 .tabbed-content ul.tabs, .ie8 .tabbed-content ul.tabs{
    height:43px;
}

.ie7 .tabbed-content ul.tabs li:hover, .ie8 .tabbed-content ul.tabs li:hover{
    background: url(../images/ie/tabbedCurrentBg.jpg) repeat-x scroll transparent;
    filter:none;
}

.ie7 .tabbed-content ul.tabs li.first:hover, .ie8 .tabbed-content ul.tabs li.first:hover{
    background: url(../images/ie/tabbedCurrentFirst.jpg) no-repeat scroll transparent top left;
    filter:none;
}

.ie7 .tabbed-content ul.tabs li.active.first:hover, .ie8 .tabbed-content ul.tabs li.active.first:hover{
    background: none;
}

.ie7 .features{
    margin-bottom:7px;
}

.ie7 .features .box a {
    width: 215px
}

.ie7 .details ul.tags li{
    padding:0;
}

.ie8 .details ul.tags li{
    padding:2px 3px 1px 0px;
}

.ie7 .content.two-col.clearfix{
    margin-bottom:1px;
}

/* Table fixes */

.ie7 .gradBox.box h3 + table {
    margin-bottom: 0;
}

.ie7 tr th, .ie7 tr td {
    padding-bottom: 5px;
}

.ie7 .box .archive img.archived:hover, .ie8 .box .archive img.archived:hover{
    border: 3px solid #8ed0ea;
    margin:-2px 0 0 3px;
}

.ie7 .box .archive img.archived, .ie8 .box .archive img.archived{
    border: 3px solid #c2c1c1;
    margin:-2px 0 0 3px;
}

/* Background-opacity fixes for disclaimer */
.ie7 #disclaimer .watermark, .ie8 #disclaimer .watermark {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter: alpha(opacity=15);
}
