.accordionContainer h2 {
    background: url( ../images/ie/accordionHeaderStrip.png ) repeat-x scroll 0 0 transparent;
}

.gradBox {
    background: url('../images/ie/gradBoxSmallStrip.png') repeat-x scroll 0 0 transparent;
}

/* Date fixes */
.box .blog-item span.date {    
    margin: 3px 0 0 -2px;
}

span.date {
    padding-bottom: 3px;
    padding-top: 3px;
}

/* Navigation fixes */
header.page-header .navigation_container ul li a.current {
    background: url('../images/ie/navCurrentGradStrip.png') scroll repeat-x 0 0 transparent;
}

header.page-header .price_index a{
    background:url(../images/ie/pricesBgIE9.jpg) scroll repeat-x 0 0 transparent;
}

header.page-header .price_index a:hover{
    filter:none;
    /*background: url(../images/ie/pricesBgIE9Hover.jpg) scroll repeat-x 0 0 transparent;*/
    background:#fefefe;
}

.button {
    background: url(../images/ie/submitButtonIE9.png) repeat-x top left transparent;
    padding:3px 30px 2px 30px;
}

.button:hover{
    background: url(../images/ie/submitButtonHoverIE9.png) repeat-x top left transparent;
    filter:none;
}

.tabbed-content{
    margin-bottom:7px;
    padding:0;
}

.details ul.tags li{
    padding:3px 8px 3px 9px;
}

.tabbed-content ul.tabs li.first:hover{
    background: url(../images/ie/tabbedCurrentFirst.jpg) no-repeat scroll transparent 0 0;
    filter:none;
}
.tabbed-content ul.tabs{
    margin: -1px 0 0 -1px;
}

.tabbed-content ul.tabs li.first.active:hover{
    background: none;
}