@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

.header-container, .navigation-container, .navigation-container ul li, .hero, .subNav, .intro-image, .form_container,
.features, aside, .footer_content, .footer_nav  {
    display: none;
}

footer {
    height: 20px;
}

.gradBox {
    border: none;
}

.content.two-col .main-content {
    float: none;
    width: 100%;
    height: 100%;
}

.accordionContainer h2 {
    border: none;    
}

.accordionContent {
    overflow: visible !important;
    display: block;
    height: auto !important;

}

.accordionContainer .accordionContent .module {
     border: none;   
}

.accordionContainer .accordionContent:last-child .module {
    border: none;
}

ul.tabs li {
    display: none !important;
}

ul.tabs li.active {
    display: block !important;
}

.tabbed-content ul.tabs {
    border: 0 !important;
}

.tabbed-content ul.tabs li.active {
    border: 0 !important;
}

.tabbed-content .tab-result {
    width: auto;
    border: 0;
}


