/*FONTS*/

@font-face {
    font-family: 'Museo300';
    src: url('../fonts/museo300-regular-webfont.eot');
    src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo300-regular-webfont.woff') format('woff'),
         url('../fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo300-regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#Museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo700-regular-webfont.svg#Museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TelegraficoRegular';
    src: url('../fonts/telegrafico_by_ficod-webfont.eot');
    src: url('../fonts/telegrafico_by_ficod-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/telegrafico_by_ficod-webfont.woff') format('woff'),
         url('../fonts/telegrafico_by_ficod-webfont.ttf') format('truetype'),
         url('../fonts/telegrafico_by_ficod-webfont.svg#TelegraficoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base Layout */

*{padding:0;margin:0;}
.hidden{display:none;}
.clear{clear:both;}

a{
    color:#87cde8;    
}

a:hover, a:active{
    color:#1da6db;
}

body {
    background-color: #f3f3f3;
    font-family: Arial, Verdana, sans-serif;
    color:#636262;
}

p.intro{
    color: #1DA6DB;    
}

h1, h2, h3, h4, h5, h6{
    color:#636262;
    font-family: "Trebuchet MS";
    font-weight:normal;
}

hgroup h1{
    font-family:Museo700;
    font-size:29.5px;
    /*color:#fff;*/
}
hgroup h2{
    font-family:Museo300;
    font-size:17px;
    /*color:#fff;*/
}
h1{
    font-size: 1.77em;
}

h2 {
    font-size:1.61em;
}
h3{
    /*width:190px;*/
    font-size:1.38em;
}

.module p.error, .errorMessage {
    color:red;
    font-weight:bold;
    font-size:0.9em;
}

.errorMessage {
    float: left;
}

.bordered-image{
    padding:2px;
    border: 2px solid #e1dfdf;
    border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
}

.box{
    padding:18px;
    width:197px;
    height:182px;
    font-size:12px;
    float:left;
    margin-right:7px;
    margin-bottom:7px;
}

.box.filter {
    height: auto;
}

.features .box a{
    padding: 25px 0 0 0;
    font-weight:bold;
    text-decoration:none;
    color:#1DA6DB;
    font-size:12px;
}

.features .box a:hover{
    text-decoration:underline;
}

.box a{
    padding:25px 0 0 0;
    float:left;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    color:#1DA6DB;
    font-size:12px;
}

.box a:hover{
    text-decoration:underline;
}

.box.commentary a{
    padding:0;
    float:left;
    font-size:12px;
}

.box.wide{
    width:438px;
    height:182px;
    margin-right:7px;
    float:left;
}

.box.last{
    margin-right:0px;
}

.box .blog-item a{    
    float:none;
    font-weight:bold;
    text-decoration:none;
    color:#1DA6DB;
}

.box .blog-item a:hover{
    text-decoration:underline;
}

.box a.archive-link{
    padding-left:5px;
}

.box .blog-item{
    margin:0px 0 4px 0;
}

.box h1{
    font-size:19px;
}

.box h3{
    margin-bottom:10px;
    font-size: 18px;
}

.box h4, .box p a.commentary-title{
    color:#1da6db;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    width:100%;
    float:left;
    margin-bottom:3px;
}

.box p a.commentary-title:hover{
    text-decoration:underline;
}

span.date{ 
    border-radius: 8px;            
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;    
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
    background:#a5a5a5;
    padding:1px 7px 1px 8px;
    margin-left:2px;
    height:17px;   
    line-height:17px;
    color:white;
    font-size:11px;
}

/*COMMENTARY BOX*/
.box .blog-item span.date{
    /*margin-left:5px;*/
}
.box p{
    padding: 3px 0 4px 0;
}
.box .archive{
    margin: 25px 0 0 -3px;
}

/*ARCHIVE BOX*/
.box .archive img.archived{
    border: 1px solid #c2c1c1;
    border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
}
.box .archive img.archived:hover{
    margin:-2px;
    border: 3px solid #8ed0ea;
}

.box .archive .resultItem{
    width:65px;
    float:left;
    margin:0 auto;
    text-align:center;      
}

.box .archive .archive-item{
    width:65px;
    float:left;
    margin:0 auto;
    text-align:center;    
}

.box .archive .archive-item a{
    float: none;
    font-size: 12px;
    padding: 0;
}

/*SUBSCRIBE BOX*/
.box .subscribe{
    margin:20px 0;
}
.box .subscribe img{
    float:left;
}
.box .subscribe p{
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 140px;  
}

.box .subscribe + a {
    padding-top: 20px;    
}

/*CURRENT NAV*/
.box p.rate{
    font-weight:bold;
    font-size:41px;
    color:#1da6db;
    margin:15px 0 10px -4px;
    font-family:"Trebuchet MS";
}

.box p.rate span{
    vertical-align:12px;
    font-size:23px;
}

/*FILTER*/
.box.gradBox table.filter-tags{
    margin-top:0;
}

.box table.filter-tags tr td{
    padding-bottom:0;
}

.box table.filter-tags tr a{
    padding:0;
    text-decoration:none;
    color:#636262;
    font-size:12px;
}

.box table.filter-tags th, .box table.filter-tags td, .box table.filter-lang td{
    text-align:left;
}

.box table.filter-lang{
    margin-top:5px;
}
/* Active filter option styling */
.filter-tags a.filterOption.active {
    color: #000;
    font-weight: bold;
}

.box h5, .box .filter-tags th {
    font-weight:bold;
    color:#1da6db;
    font-size:12px;
    font-family: "Trebuchet MS";
}
.box table .secCol{
    text-align:center;
}

#container{
    width:100%;
}

.content{ /*overflow: hidden; */}

.content .hero{
    width:100%;
}

.content .module{
    margin: 0 0 7px 0;
    position:relative;
}

.content.two-col .main-content{
    width:719px;
    float:left;
}

.content.two-col aside{
    width:235px;
    float:left;
    margin: 0 0 0 7px;
}

.content.two-col aside .box{
    margin-bottom:7px;
}

footer.page-footer{
    width:961px;
    margin:0 auto;
}

/* CSS3 box */
.gradBox {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    background: #fcfafa; /* Old browsers */
        background: -moz-linear-gradient(top, #fcfafa 0%, #f9f7f7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfafa), color-stop(100%,#f9f7f7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fcfafa 0%,#f9f7f7 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fcfafa 0%,#f9f7f7 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #fcfafa 0%,#f9f7f7 100%); /* IE10+ */
        background: linear-gradient(top, #fcfafa 0%,#f9f7f7 100%); /* W3C */
}

.image-top{
    overflow:hidden;
}

.intro-image{
    position: relative;
    top: -35px;
    left: -35px;
    height: 186px;
}

.intro-image img {
    /* Webkit only fix for border radius on img*/
    -webkit-border-radius:10px 10px 0 0;
    width: 717px;
}

#main{
    width: 961px;
    margin: 12px auto 0 auto;
}

.maps{
    clear:left;
}

.maps .contact-info{
    float:left;
    width:100%;
}

.maps .contact-info ul{
    list-style-type:none;
    width:200px;
    font-weight:normal;
}

.module .contact-info ul{
    list-style-position:outside;
}

.maps .contact-info ul li{
    margin-left:0;
    display:block;
}

.maps .contact-info .address{
    float:left;
    color:#000;
}

.maps .contact-info .details{
    float:left;
    text-align:right;
    vertical-align:baseline;
    color:#1da6db;
}

.map{
    width:404px;
    height:430px;
    float:left;
    overflow:hidden;
}

.map.last{
    margin-left:7px;
}

.map h1{
    float:left;
    width:250px;    
}

.map .images{
    width:130px;
    margin:0;
    float:right;
    list-style-type:none;
}

.map .images li{
    display:inline;
}
.map .images li img{
    border: 1px solid #c2c1c1;
    border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
}

.map .images li img:hover{
    margin:-2px;
    border: 3px solid #8ed0ea;
}

.map .map-container{
    position:absolute;
    top:230px;
    right:0;
}

/* Generic module styles */

.module{
    padding:35px;
}

.module h1{
    margin-bottom:10px;
}

.module p{
    line-height: 19.21px;
    margin-bottom: 15px;
    font-size: 1.077em;
}

.module p.intro{
    color: #1DA6DB;
}

.module ul{    
    display:block;
    margin:15px 0 15px 0;
    list-style-position:inside;
    font-size: 1.077em;
}

.module ul.bold{
    font-weight:bold;
}

.module ul li{
    
}

.module img.left{
    float:left;
    margin:0 20px 10px 0;
}

.module img.right{
    float:right;
    margin:0 0 10px 20px;
}

.module .callToAction {
    margin-top:30px;
    float:left;
    clear: left;
}

.module a.PDFLink{
    padding-left:25px;
    background:url(../images/iconPDF.png) no-repeat top left;
    display: block;
    height: 30px;
    padding-left: 25px;
    margin-top:20px;
}

.module.about img{
    float:left;
    margin-right:20px;
}

.module .rightSideContent  {
    margin-left: 261px;
}

.tabbed-content.fixedWidth {
    width: 959px;
    float: left;
}

.tabbed-content{
    margin-bottom:7px;
    padding:0;
}

.tabbed-content ul.tabs{
    list-style-type:none;
    margin-left:0;
    margin-top: 0;
    height:42px;
    border-bottom: 1px solid #e4e4e4;
    font-weight:normal;
}

.tabbed-content ul.tabs li{
    display:inline;
    float:left;
    padding: 10px 0 7px 0;
    border-right: 1px solid #e4e4e4;
    margin:0;
}

.tabbed-content ul.tabs li:hover{
    background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top, #fefefe 0%, #f7f5f5 44%, #eae8e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(44%,#f7f5f5), color-stop(100%,#eae8e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fefefe 0%,#f7f5f5 44%,#eae8e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fefefe 0%,#f7f5f5 44%,#eae8e8 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fefefe 0%,#f7f5f5 44%,#eae8e8 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eae8e8',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fefefe 0%,#f7f5f5 44%,#eae8e8 100%); /* W3C */
}

.tabbed-content ul.tabs li.first:hover{
    border-radius: 10px 0 0 0;
        -webkit-border-radius: 10px 0 0 0;
        -moz-border-radius: 10px 0 0 0;
    border-left:none;
}

.tabbed-content ul.tabs li.active:hover{
    background:none;
    filter:none;
}

.tabbed-content ul.tabs li a{
    color:#1da6db;
    font-size:22px;
    text-decoration:none;
    padding: 10px 28px 7px 28px;
}

.tabbed-content ul.tabs li.last{
    border-right: 1px solid #e4e4e4;
}

.tabbed-content ul.tabs li.active{
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #fbf9f9;
    color:#000;
    padding: 10px 0 6px;
}

.tabbed-content ul.tabs li.active a{
    color:#000;
}

.tabbed-content .results-container{
    padding:10px;
}

.tabbed-content .tab-result{
    width:665px;
    height:120px;
    border: 1px solid #ebeaea;
    padding:15px;
    margin-bottom:7px;
}

.tabbed-content .tab-result .details{
    margin-bottom:10px;
    float:left;
}

.tabbed-content .tab-result .result-content{
    clear:left;
}

.tab-result h4 a{
    font-size:1.46em;
    color:#1da6db;
    text-decoration:none;
}

.tab-result h4 a:hover{
    text-decoration:underline;
}

.tab-result p{
    font-size:1.077em;
}

.graph-tab {
    position: absolute;
    left: 25px;
    top: 20px;
    width: 100%;
    visibility: hidden;
}

.performance + .results-container {
    overflow: hidden;
    position: relative;
    clear: both;
    height: 402px;
}

.module .tags{
    width:auto;
    float:right;
    padding-right:5px;
    margin:0;
}

.tags a{
    color:white;
    font-weight:bold;
    text-decoration:none;
}

.tags li{
    display:inline;
    background:#69c6e9;
    padding:1px 7px 1px 8px;
    margin-left:2px;
    height:17px;
    line-height:17px;
    color:white;
    font-weight:bold;
    font-size:11px;
    border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;                                                      ` 
}

/* SubNav styles */

.subNav{
    margin-bottom:3px;
}

.subNav ul {
    margin: 0 auto;
    float: left;
    width: 719px;
    text-align: center;
}

    .subNav ul li {
        display: inline-block;
        margin-right: 20px;
        font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
        font-size: 15px;
        font-weight:bold;
    }

        .subNav ul li a:link,.subNav ul li a:visited {
            text-decoration: none;
            color: #1DA6DB;
        }

        .subNav ul li a:hover {
            text-decoration:underline;
        }

        .subNav ul li a.current {
            color: #000000;
        }

/* Fund details */
.blackList ul {
    list-style: none outside none;
}

    .blackList ul li {
        margin: 0;
        color: #000;
        font-weight: normal;
    }

/* Accordion styles */

.accordionContainer {
    margin-bottom: 17px;
    display: block;
}

.accordionContainer h2:first-child {
    margin-top: 0;
}

.accordionContainer h2 {
    display: block;
    border: 1px solid #0075b0;
    margin-top: -1px;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    padding: 0 0 0 18px;
    font-size: 1.23em;
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    background: #7cc9f1; /* Old browsers */
        background: -moz-linear-gradient(top, #7cc9f1 0%, #3288c4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cc9f1), color-stop(100%,#3288c4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #7cc9f1 0%,#3288c4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #7cc9f1 0%,#3288c4 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #7cc9f1 0%,#3288c4 100%); /* IE10+ */
        background: linear-gradient(top, #7cc9f1 0%,#3288c4 100%); /* W3C */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
}

.accordionContainer .accordionContent .module {
    border: 1px solid #E4E4E4;
    border-top: 0;
    background: #FFF;
    margin: 0;
    min-height: 115px;
    position: static;
}


h2.active + .accordionContent .module{
    border-bottom: none;
}

.accordionContainer .accordionContent:last-child .module {
    border-bottom: 1px solid #E4E4E4; 
}

/* Search Results*/

.results {
    margin-top: 18px;
    clear:left;
}

.resultItem {
    margin-bottom: 20px;
    line-height: 17.21px;
    font-size: 1.077em;
}
    .resultItem p{
        margin-bottom:0;
    }

    .resultItem h4 {
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, Verdana, sans-serif;
    }

    .resultItem a:link, .resultItem a:visited {
        color: #1DA6DB;
        text-decoration: none;
        font-size: 14px;
    }

    .resultItem a:hover{
        text-decoration:underline;
    }

/* Pagination */

.pagination_content ul {
    text-align: center;
    list-style: none inside none;
}

.pagination_content ul li {
    display: inline;
    margin-right: 5px;
}

.pagination_content ul li.active a{
    font-weight:bold;
}

.pagination_content a {
    cursor: pointer;
    text-decoration: none;
}

.pagination_content a:hover {
    text-decoration: underline;
}


/* Links */

.callToAction {
    background: url( '../images/logoBtnLeft.png' ) no-repeat scroll left top transparent;
    padding-left: 9px;
}

    .callToAction span {
         background: url( '../images/logoBtnRight.png' ) no-repeat scroll right top transparent;
         display: block;
         height: 50px;
         line-height: 49px;
         padding: 0px 63px 0 6px;
         font-size: 1.46em;
         font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
         color: #636262;        
    }

.callToAction:hover  {
    background-image: url( '../images/logoBtnLeftHover.png' );
}

.callToAction:hover span {
    background-image: url( '../images/logoBtnRightHover.png' );
}

.callToAction:link, .callToAction:visited, .callToAction:hover, .callToAction:active {
    text-decoration: none;
    color: #636262; 
}

.button{
    border:1px solid #adadad;
    border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;

    background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #eceded 50%, #c5c7c8 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#eceded), color-stop(100%,#c5c7c8));
        background: -webkit-linear-gradient(top, #ffffff 0%,#eceded 50%,#c5c7c8 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#eceded 50%,#c5c7c8 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#eceded 50%,#c5c7c8 100%);
        background: linear-gradient(top, #ffffff 0%,#eceded 50%,#c5c7c8 100%);

    width:auto;
    padding:1px 25px 0 25px;
    color:#636262;
    font-size:18px;
    font-weight:bold;
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
}

.button:hover{
    background: #fefefe; /* Old browsers */
        background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 50%, #dfdfdf 51%, #f4f4f4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#f3f3f3), color-stop(51%,#dfdfdf), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fefefe 0%,#f3f3f3 50%,#dfdfdf 51%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fefefe 0%,#f3f3f3 50%,#dfdfdf 51%,#f4f4f4 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #fefefe 0%,#f3f3f3 50%,#dfdfdf 51%,#f4f4f4 100%); /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
        background: linear-gradient(top, #fefefe 0%,#f3f3f3 50%,#dfdfdf 51%,#f4f4f4 100%); /* W3C */
}

.searchFilter .button{
    margin: 2px 0 0 5px;
}

/*Individual Commentary*/

.article-full{
}

.article-full .details{
    margin-top:5px;
}

.article-full .author{
    font-style:italic;
    font-size:12px;
}

.article-full-content{
    margin:20px 0;
}

/* Private document link styles */
.monthlyReportPrivate a, .monthlyReportPrivate p,
.factsheetPrivate a, .factsheetPrivate p
{
    color: #E0E0E0;
    border: 0;
}

/* Rollover Styles */

.box.gradBox.rollover {
    position: relative;            
}

.rolloverPopup.gradBox {
    height: 377px;
    width: 457px;
    position: absolute;
    bottom: -130px;
    left: 0;
    display: block;
    box-shadow: 0 0 5px #888;
    z-index: 1;
    opacity: 0;
    padding: 20px;
    margin: 0;
}

.rolloverPopup.gradBox img {
    margin: 0 auto;
    display: block;
}
/* Disclaimer Styles */
#disclaimer{
    position: relative;
    width: 600px;
    height:500px;
    padding: 25px;

}

#disclaimer h3{
    margin-top:10px;
}

#disclaimer .watermark {
    background: url( '../images/disclaimerWatermark.jpg') no-repeat scroll center center;
    opacity: 0.15;                 
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    overflow: hidden;
    z-index: 1;    
}

#disclaimer div {
    z-index: 2;
    position: relative;
    height:470px;
    overflow-y:scroll;
    width:590px;
}

#disclaimer .closeDisclaimer{
    margin: 10px 0;
    cursor:pointer;
}

/* Loader Image */
#loaderImage {
    position: absolute;
    top: 45%;
    left: 50%;
}