/* Default table styles */

table{
    width:100%;
    border:none;
    padding:0;
    margin:0;
    border-collapse:collapse;
    text-align:left;
    empty-cells: show;
}

table thead, table tr{
    height:20px;
}

table td.narrow{
    width:20px;
}

table tr th {
    font-weight: normal;
    padding-bottom: 12px;
}

table tr td {
    padding-bottom: 6px;
}

.box.gradBox h3 + table {
    margin-top: 15px;
}

.tableModule p {
    text-align: right;
    font-size: 11px;
    line-height: 11.25px;
    color: #a9a8a8;
    padding: 0;
}

/* Performance table styles */

.performance-table tr th:first-child,
.performance-table tr td:first-child {
    color: #1DA6DB;
    font-size: 12px;
    width: 180px;
    text-align: left;
}

.performance-table tr th {
    text-align: right;
}

.performance-table tr td {
    text-align: right;
}

/* Holding table styles */

.tableModule .holdings-table tr th,
.tableModule .holdings-table tr td {
    text-align: left;
}

.tableModule .holdings-table .blueText {
    color: #1DA6DB;
    text-align: left;
    padding-right: 15px;
}

.holdings-table .increaseCell, .holdings-table .decreaseCell {
    background: url(../images/arrowSprite.png) no-repeat scroll right 2px  transparent;
    padding: 0 35px 0 0;
}

.holdings-table .decreaseCell {
    background-position: right -48px;    
}

/* Table rollover*/
.tableModule .rolloverPopup.gradBox {
    width: 721px;
    right: 0px;
    left: auto;
}

.rolloverPopup.gradBox table {
    width: 720px;
    font-size: 18px;
}

.tableModule .rolloverPopup.gradBox h3 + table {
    margin-top: 30px;
}

.tableModule .rolloverPopup.gradBox table tr th,
.rolloverPopup.gradBox table tr td {
    padding-bottom: 35px;
}

.tableModule .rolloverPopup.gradBox .holdings-table .increaseCell,
.tableModule .rolloverPopup.gradBox .holdings-table .decreaseCell {
    background-position: right 6px;
    padding-right: 45px;
}

.tableModule .rolloverPopup.gradBox .holdings-table .decreaseCell {
    background-position: right -46px;    
}






