.clearfix, .view-factsheets .view-content, .view-the-sunares-report .view-content {
  *zoom: 1;
}

.clearfix:before, .view-factsheets .view-content:before, .view-the-sunares-report .view-content:before {

}

.clearfix:after, .view-factsheets .view-content:after, .view-the-sunares-report .view-content:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.slide {
	height: 380px;
	width: 940px;
}

.custom-content-blocks .block.block-views {
    border: 1px solid #D2D2D2;
    float: left;
    font-size: 12px;
    height: 182px;
    margin-bottom: 7px;
    margin-right: 7px;
    margin-top: 10px;
    padding: 10px 17px;
    width: 197px;
}

.custom-content-blocks .block.block-views img {
    float: left;
    margin-right: 5px;
}

.view-factsheets .view-footer, .view-the-sunares-report .view-footer {
    margin-top: 10px;
}

.view-subscribe-custom-module .subscribe {
    margin-top: 10px;
}

.slide h1, .slide h2 {
    color: #FFF;
    font-family: Arial, Tahoma, sans-serif;
}
